<div class="container">
    <div class="row">
        <h1 *ngIf="createMode">Create parking</h1>
        <h1 *ngIf="!createMode">Edit parking</h1>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Name</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="parking.name" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Address</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="parking.address" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Telephone</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="parking.telephone" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Number of available spaces</label>
        </div>
        <div class="col-9">
            <input type="number" class="form-control" [(ngModel)]="parking.number_spaces" />
        </div>
    </div>
    <br>
    <div class="days-hours">
        <label>Opening days</label>
        <p>From:
            <ngb-timepicker id='beginTime' [(ngModel)]="beginTime"></ngb-timepicker>
        </p>

        <p>To:
            <ngb-timepicker id='endTime' [(ngModel)]="endTime"></ngb-timepicker>
        </p>
    </div>
    <form [formGroup]="daysForm">
        <div class="days-container">
            <div class="day-select" *ngFor="let day of days">
                <a>
                    <input type="checkbox" [value]="day" (change)="onCheckboxChange($event)" />
                    {{day}}
                </a>
            </div>
        </div>


    </form>

    <div class="row">
        <button *ngIf="createMode" class="btn btn-primary btn-block" (click)="create()">Crear</button>
        <button *ngIf="!createMode" class="btn btn-primary btn-block" (click)="update()">Editar</button>
    </div>
</div>