<div class="container">
    <div class="row">
        <h1 *ngIf="createMode">Create parking</h1>
        <h1 *ngIf="!createMode">Edit parking</h1>
    </div>
    <div class="row" *ngIf="user_role == 'admin'">
        <div class="col-3">
          <label>Usuario</label>
        </div>
        <div class="col-9">
          <input type="number" class="form-control" [(ngModel)]="parking.owner_id" />
        </div>
      </div>
      <br>
    <div class="row">
        <div class="col-3">
            <label>Name</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="parking.name" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Address</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="parking.address" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Telephone</label>
        </div>
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="parking.telephone" />
        </div>
    </div>
    <br>
    <div class="row" *ngIf="createMode">
        <div class="col-3">
            <label>Number of available spaces</label>
        </div>
        <div class="col-9">
            <input type="number" class="form-control" [(ngModel)]="parking.number_spaces" max="500" min="1"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Car price (per hour)</label>
        </div>
        <div class="col-9">
            <input type="number" class="form-control" [(ngModel)]="parking.car_hour_price" placeholder="$" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <label>Bike price (per hour)</label>
        </div>
        <div class="col-9">
            <input type="number" class="form-control" [(ngModel)]="parking.bike_hour_price" placeholder="$"/>
        </div>
    </div>
    <br>
    <div class="days-hours">
        <label>Opening days</label>
        <p>From:
            <ngb-timepicker id='beginTime' [(ngModel)]="beginTime"></ngb-timepicker>
        </p>

        <p>To:
            <ngb-timepicker id='endTime' [(ngModel)]="endTime"></ngb-timepicker>
        </p>
    </div>
    <form [formGroup]="daysForm">
        <div class="days-container">
            <div class="day-select" *ngFor="let day of days">
                <a>
                    <input type="checkbox" [value]="day" (change)="onCheckboxChange($event)" />
                    {{day}}
                </a>
            </div>
        </div>
    </form>

    <div class="row" *ngIf="!createMode && !edit_spots">
        <div class="col-3">
            <button class="btn btn-primary btn-block" (click)="editSpots()">Edit available spots</button>
        </div>
    </div>

    <div class="row" *ngIf="edit_spots">
        <div class="col-3">
            <button class="btn btn-primary btn-block" (click)="hideSpots()">Hide spots</button>
        </div>
    </div>

    <div class="container " *ngIf="parking_spots.length > 0">
        <h1> Parking spots</h1> <br>
        <div class="parkings-container">
            <div class="parking" *ngFor="let spot of parking_spots">
                <a *ngIf="spot.occupied" class="parking occupied">{{spot.code}}</a>
                <a *ngIf="!spot.occupied" (click)="createReservation(spot.id)" class=" parking free">{{spot.code}}</a>
                <div class="button-group">
                    <a  (click)="deleteSpot(spot.id)" class=" parking delete">Delete</a>
                    <a  (click)="editSpot(spot.id)" class=" parking update">Edit</a>
                </div>
                </div>
            </div>
        </div>
         <br>

        <div class="row">
            <button *ngIf="createMode" class="btn btn-primary btn-block" (click)="create()">Crear</button>
            <button *ngIf="!createMode" class="btn btn-primary btn-block" (click)="update()">Editar</button>
        </div>
    </div>
