.day-select {
    background: #d9dcde;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    justify-content: space-evenly;
    flex-direction: row;

}

.days-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;


}

input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    position: relative;
    border-radius: 4em;
}

.days-hours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    height: 100%;
}