<div class="container">
  <div class="row">
    <h1 *ngIf="createMode">Create vehicle</h1>
    <h1 *ngIf="!createMode">Edit vehicle</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <label>license plate</label>
    </div>
    <div class="col-9">
      <input type="text" class="form-control" [(ngModel)]="vehicle.license_plate" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <label>Vehicle type</label>
    </div>
    <div class="col-9">
      <select name="userType" [(ngModel)]="vehicleType">
        <option value="">Select Type</option>
        <option value="1">Car</option>
        <option value="2">Bike</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="vehicleType == '2'">
    <div class="col-3">
      <label>Helmet number</label>
    </div>
    <div class="col-9">

      <input type="text" class="form-control" [(ngModel)]="bike.helmet" />
    </div>
    <br>
  </div>
  <div class="row" *ngIf="vehicleType == '1'">
    <div class="col-3">
      <label>Car type</label>
    </div>
    <div class="col-9">
      <select name="userType" [(ngModel)]="car.type">
        <option value="">Select car type</option>
        <option value=2>Public</option>
        <option value=1>Private</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="owner_id == 'admin'">
    <div class="col-3">
      <label>Owner</label>
    </div>
    <div class="col-9">
      <input type="number" class="form-control" [(ngModel)]="driver" />
    </div>
  </div>
  <br>
  <div class="row">
    <button *ngIf="createMode" class="btn btn-primary btn-block" (click)="create()">Create</button>
    <button *ngIf="!createMode" class="btn btn-primary btn-block" (click)="update()">Edit</button>
  </div>
</div>
