<div class="container">
  <div class="row">
    <h1 *ngIf="createMode">Create reservation</h1>
    <h1 *ngIf="!createMode">Edit reservation</h1>
  </div>
  <div class="row" *ngIf="user_role == 'admin'">
    <div class="col-3">
      <label>Usuario</label>
    </div>
    <div class="col-9">
      <input type="number" class="form-control" [(ngModel)]="user_id" (ngModelChange)="getVehicles(user_id)"/>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <label>Start Date</label>
    </div>
    <div class="col-9">
      <input type="datetime-local" class="form-control" [(ngModel)]="reservation.start_date">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <label>End Date</label>
    </div>
    <div class="col-9">
      <input type="datetime-local" class="form-control" [(ngModel)]="reservation.end_date" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
        <label>Vehicle</label>
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="idVehicleSelected" [disabled]="!user_id">
            <option *ngFor="let vehicle of vehicles" [value] ="vehicle.id" selected>
                {{vehicle.license_plate}}
            </option>
        </select>
    </div>
  </div>
<br>

  <div class="row">
    <div class="col-3">
        <label>Parking</label>
    </div>
    <div class="col-9">
        <select *ngIf="!activeRoute.snapshot.params.parking_id"  class="form-control" [(ngModel)]="idParkingSelected" (ngModelChange)="[getParking(), alert()]">
            <option *ngFor="let parking of parkings" [value] ="parking.id" selected>
                {{parking.name}} -- {{parking.address}}
            </option>
        </select>
        <div class="form-control" *ngIf="activeRoute.snapshot.params.parking_id" > {{parking.name}} </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-3">
        <label>Parking Spot</label>
    </div>
    <div class="col-9">
        <select *ngIf="!activeRoute.snapshot.params.spot_id" class="form-control" [(ngModel)]="spot_id" [disabled]="!idParkingSelected">
          <ng-container *ngFor="let spot of spots">
            <option  *ngIf="!spot.occupied" [value] ="spot.id" selected>
              {{spot.code}}
            </option>
          </ng-container>
        </select>
      <div class="form-control" *ngIf="activeRoute.snapshot.params.spot_id" > {{spot.id}} </div>

    </div>
  </div>

<br>
  <div class="row">
    <div class="col-3">
      <label>Observations</label>
    </div>
    <div class="col-9">
      <input type="text" class="form-control" [(ngModel)]="reservation.observations" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <label  title="Price is calculated hour * parkings fee" >Price</label>
    </div>
    <div class="col-9">
      <div class="form-control"> {{setPrice(reservation.start_date,reservation.end_date,1) | currency:'COP'}} </div>
    </div>
  </div>
  <br>
  <div class="row">
    <button *ngIf="createMode" class="btn btn-primary btn-block" (click)="create()">Crear</button>
    <button *ngIf="!createMode" class="btn btn-primary btn-block" (click)="update()">Editar</button>
  </div>
</div>
