<div class="container">
  <div class="row">
    <h1 *ngIf="createMode">Create reservation</h1>
    <h1 *ngIf="!createMode">Edit reservation</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <label>Start Date</label>
    </div>
    <div class="col-9">
      <input type="datetime-local" class="form-control" [(ngModel)]="reservation.start_date">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <label>End Date</label>
    </div>
    <div class="col-9">
      <input type="datetime-local" class="form-control" [(ngModel)]="reservation.end_date" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
        <label>Vehicle</label>
    </div>
    <div class="col-9">
        <select class="form-control" [(ngModel)]="idVehicleSelected">
            <option *ngFor="let vehicle of vehicles" [value] ="vehicle.id" selected>
                {{vehicle.license_plate}}
            </option>
        </select>
    </div>
</div>
<br>
<br>
  <div class="row">
    <div class="col-3">
      <label>Observations</label>
    </div>
    <div class="col-9">
      <input type="text" class="form-control" [(ngModel)]="reservation.observations" />
    </div>
  </div>
  <div class="row">
    <button *ngIf="createMode" class="btn btn-primary btn-block" (click)="create()">Crear</button>
    <button *ngIf="!createMode" class="btn btn-primary btn-block" (click)="update()">Editar</button>
  </div>
</div>
