.reservations-container{
    display: grid;
    overflow-y: scroll;
    overflow-x: scroll;
    grid-row: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    overflow-x: scroll;
    overflow: scroll;
}

.reservation{
    padding: 10px;
    display: block;
    margin: 3px;
    text-align: center;
    width: 300px;
    font-weight: bold;
    border-radius: 10%;
    background: #d9dcde;
}

.button-group{
    display: grid;
    grid-row: 1fr ;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    text-align: center;
}
.update{
    background-color: yellow;
    display: block;
    border-radius: 10%;
    margin: 3px;
    
}

.active{
    color: green !important;
}

.finished{
    color:darkgray !important;
}

.show{
    background-color: greenyellow;
    border-radius: 10%;
    margin: 3px;
}

.end{
    background-color: red;
    border-radius: 10%;
    margin: 3px;
}